<div class="container">
  <div class="row justify-content-end">
    <div class="col-3">
      <%= search_form_for @q, url: search_customers_path do |f| %>
        <%= f.search_field :nickname_cont, placeholder: "ユーザー検索" %>
        <%= f.submit '検索' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex">
      <% @customers.each do |customer| %>
        <%= link_to customer_path(customer.id) do %>
          <div class="card mr-5" style="width: 10rem;">
            <%= image_tag customer.profile_image, size:'158x158', class: "card-image-top"%>
            <div class="card-body">
              <p class="card-text text-truncate text-dark"><i class="fas fa-user text-secondary"></i> <%= customer.nickname%></p>
              <p class="card-text text-dark"><%= "投稿数: #{customer.recipes.count}"%></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
