<div class="container">
  <div class="row">
    <div class="col-12">
      <% @recipes.each do |recipe| %>
        <%= link_to admin_recipe_path(recipe.id) do %>
          <div class="card" style="width: 10rem;">
            <%= image_tag recipe.recipe_image, size:'158x158', class: "card-image-top"%>
            <div class="card-body">
              <p class="card-text"><%= recipe.title%></p>
              <%= link_to customer_path(recipe.customer.id) do %>
                <p class="card-text"><%= recipe.customer.nickname %></p>
              <% end %>
              <p class="card-text">
                <%= recipe.favorites.count %><i class="fas fa-comment"></i>
                <%= recipe.favorites.count %><i class="fas fa-heart"></i>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
