<div class="container">
  <div class="row justify-content-end">
    <div class="col-3">
      <%= search_form_for @q, url: search_recipes_path do |f| %>
        <%= f.search_field :title_cont, placeholder: "レシピ検索" %>
        <%= f.submit '検索' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex">
      <% @recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe.id) do %>
          <div class="card mr-5" style="width: 10rem;">
            <%= image_tag recipe.recipe_image, size:'158x158', class: "card-image-top"%>
            <div class="card-body">
              <p class="card-text text-truncate text-dark"><i class="fas fa-cookie-bite"></i> <%= recipe.title%></p>
              <%= link_to customer_path(recipe.customer.id) do %>
                <p class="card-text text-dark"><i class="fas fa-user text-secondary"></i> <%= recipe.customer.nickname %></p>
              <% end %>
              <p class="card-text">
                <%= recipe.comments.count %> <i class="fas fa-comment text-primary mr-4"></i>
                <%= recipe.favorites.count %> <i class="fas fa-heart text-danger"></i>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
