<div class="container">
  <div class="row">
    <div class="col-3">
      <div>
        <% if @recipe.recipe_image.attached? %>
          <%= image_tag @recipe.recipe_image, size: "300x300" %>
        <% else %>
          <%= image_tag 'no_image', size: "300x300" %>
        <% end %>
      </div>
    </div>
    <div class="col-6 offset-1">
      <%= @recipe.title %>
      <%= simple_format(@recipe.body) %>
      <%= link_to "編集", edit_recipe_path(@recipe.id), class: "btn btn-success" %>
      <%= link_to "削除", recipe_path(@recipe.id), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-4 d-flex align-items-center">
      <h3>コメント</h3>
      <h4><%= @recipe.comments.count %></h4>
      <h3 class="ml-auto">いいね</h3>
      <% if @recipe.favorited_by?(current_customer) %>
        <h4>
          <%= link_to recipe_favorites_path(@recipe.id), method: :delete do %>
            <i class="fas fa-heart text-danger"></i><span class="text-dark"><%= @recipe.favorites.count %></span>
          <% end %>
        </h4>
      <% else %>
        <h4>
          <%= link_to recipe_favorites_path(@recipe.id), method: :post do %>
            <i class="far fa-heart text-danger"></i><span class="text-dark"><%= @recipe.favorites.count %></span>
          <% end %>
        </h4>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-4">
      <table class="table table-hover">
        <% @recipe.comments.each do |comment| %>
        <tr>
          <td><%= image_tag comment.customer.profile_image, size: "50x50"%></td>
          <td><%= comment.customer.nickname %></td>
          <td><%= simple_format(comment.comment)%></td>
          <td class="d-flex">
            <% if comment.customer.id==current_customer.id %>
              <%= link_to root_path do %>
                <i class="fas fa-edit mr-2"></i>
              <% end %>
              <%= link_to recipe_comment_path(comment.recipe.id, comment.id), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </td>
          <td><%= comment.created_at.strftime('%Y/%m/%d')%></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-6 offset-4">
      <%= form_with model: [@recipe, @comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: 'コメントをここに', class: "form-control" %>
        <%= f.submit "送信"%>
      <% end %>
    </div>
  </div>
</div>
