<div class="container">
  <div class="row">
    <div class="col-3">
      <% if @recipe.recipe_image.attached? %>
        <%= image_tag @recipe.recipe_image, size: "300x300" %>
      <% else %>
        <%= image_tag 'no_image', size "300x300" %>
      <% end %>
    </div>
    <div class="col-6 offset-1">
      <%= @recipe.title %>
      <%= @recipe.body %>
      <%= link_to "編集", edit_recipe_path(@recipe.id), class: "btn btn-success" %>
      <%= link_to "削除", recipe_path(@recipe.id), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
