<div class="container">
  <div class="row">
    <h3 class="py-3">レシピ詳細</h3>
  </div>

  <div class="row">
    <div class="col-3">
      <div>
        <% if @recipe.recipe_image.attached? %>
          <%= image_tag @recipe.recipe_image, size: "300x300", class: "rounded" %>
        <% else %>
          <%= image_tag asset_path('no_image.png'), size: "300x300" %>
        <% end %>
      </div>
    </div>
    <div class="col-6 offset-1 border">
      <div class="d-flex align-items-center border-bottom">
        <h4 class="pt-2"><%= @recipe.title %></h4>
        <% if @recipe.customer.id==current_customer.id%>
          <div class="ml-auto">
            <%= link_to edit_recipe_path(@recipe.id) do%>
              <i class="fas fa-edit mr-2 text-success"></i>
            <% end %>
            <%= link_to recipe_path(@recipe.id), data: {confirm: "削除しますか？"}, method: :delete do %>
              <i class="fas fa-trash-alt text-danger"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= simple_format(@recipe.body) %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3">
      <div class="bg-primary rounded-top text-center">
        <h5 class="text-white py-3">cooked by <%= @recipe.customer.nickname %></h5>
      </div>
      <div class="border-bottom">
        <%= simple_format (@recipe.customer.introduction), class: "text-secondary" %>
      </div>
      <%= link_to customer_path(@recipe.customer.id) do %>
        <div>
          <p class="text-dark pt-2"><i class="fas fa-user"></i> <%= @recipe.customer.nickname%> さんのページへ</p>
        </div>
      <% end %>
    </div>
    <div class="col-2 offset-1 d-flex align-items-center comments_count">
      <%= render 'public/comments/comments_count', recipe: @recipe%>
    </div>
    <div class="col-2 offset-2 d-flex align-items-center favorite_btn">
      <%= render 'public/favorites/btn', recipe: @recipe%>
    </div>
  </div>

  <div class="row comments_index">
    <%= render 'public/comments/comments_index', recipe: @recipe %>
  </div>

  <div class="form-group row comment_form">
    <%= render 'public/comments/comment_form', recipe: @recipe, comment: @comment%>
  </div>
</div>
