<div class="new_img">
  <div class="container">
    <div class="row">
      <div class="col-3 offset-8" style="margin-top: 200px">
        <h2>ログイン</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, placeholder: "example@example.com" %>
          </div>

          <div class="field mt-2">
            <%= f.label :パスワード %><br />
            <%= f.password_field :password, placeholder: "password" %>
          </div>

          <div class="actions mt-3">
            <%= f.submit "ログイン", class: "btn btn-success btn-sm" %>
          </div>
        <% end %>

        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>

