<!DOCTYPE html>
<html>
  <head>
    <title>Meshitsuku</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  </head>

  <body>
    <header class="bg-warning">
      <div class="row">
        <div class="col-2 offset-1 nav_head">
          <%= link_to root_path do%>
            <div class="header_logo"></div>
          <% end %>
        </div>
        <div class="nav_item col-6 offset-3 d-flex justify-content-around align-items-center">
          <% if admin_signed_in? %>
            <div>
              <%= link_to "ユーザー一覧", customers_path, class: "btn btn-light" %>
            </div>
            <div>
              <%= link_to "レシピ一覧", recipes_path, class: "btn btn-light" %>
            </div>
            <div>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-light" %>
            </div>
          <% end %>
          <% if customer_signed_in? %>
            <div>
              <%= link_to "レシピ投稿", new_recipe_path, class: "btn btn-light"%>
            </div>
            <div>
              <%= link_to "レシピ一覧", recipes_path, class: "btn btn-light" %>
            </div>
            <div>
              <%= link_to "ユーザー一覧", customers_path, class: "btn btn-light" %>
            </div>
            <div>
              <%= link_to "マイページ", customer_path(current_customer.id), class: "btn btn-light" %>
            </div>
            <div>
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-light" %>
            </div>
          <% else %>
            <div>
              <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-light" %>
            </div>
            <div>
              <%= link_to "ログイン", new_customer_session_path, class: "btn btn-light" %>
            </div>
            <div>
              <%= link_to "レシピ一覧", recipes_path, class: "btn btn-light"%>
            </div>
          <% end %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="bg-success">
    </footer>
  </body>
</html>
